body {
    font-family: sans-serif;
    background-color: lightsteelblue;
}
h1 {
    background-color: darkred;
    color: goldenrod;
}
h2 {
    background-color: green;
    color: white;
}
#container{
    color: blue;
}
#header {
    font-family: 'Copperplate Gothic';
    width: 33%;
    text-align: center;
}